version: 2

global:
  server_name: ohana-matrix.xyz
  private_key: /data/matrix_key.pem

  database:
    connection_string: postgres://dendrite:changeme@postgres/dendrite?sslmode=disable
    max_open_conns: 90
    max_idle_conns: 5
    conn_max_lifetime: -1

  cache:
    max_size_estimated: 1gb
    max_age: 1h

  jetstream:
    storage_path: /data/jetstream

client_api:
  registration_disabled: true
  registration_shared_secret: "REGISTRATION_SHARED_SECRET_PLACEHOLDER"

federation_api:
  send_max_retries: 16
  disable_tls_validation: false

media_api:
  base_path: /data/media
  max_file_size_bytes: 10485760
  dynamic_thumbnails: false

sync_api:
  search:
    enabled: true
    index_path: /data/searchindex

logging:
  - type: std
    level: info
